    test_name = os.environ.get("TEST_NAME", "smoke")
    test_root = os.environ.get("TEST_ROOT", "tests")
    cfg = os.environ.get("CFG", f"{test_root}/{test_name}/config.regs")
    data_in = os.environ.get("DATA_IN", f"{test_root}/{test_name}/data_in.vec")
    data_out = os.environ.get("DATA_OUT", f"{test_root}/{test_name}/data_out.vec")
    await run_vectors(dut, cfg, data_in, data_out)
