<<% if packed %>><<% include "dv/sv/common/packed_tokens.svh.j2" %>>
<<% endif %>><<% if multiclock %>><<% include "dv/sv/drivers/_reg_driver_multiclock.svh.j2" %>><<% else %>><<% include "dv/sv/drivers/_reg_driver_single.svh.j2" %>><<% endif %>>
