<<% for window in windows %>>assign <<: window.request :>> = '{
  valid: <<: window.name :>>_reg_req_valid, write: <<: window.name :>>_reg_req_write,
  addr: <<: window.name :>>_reg_req_addr, wdata: <<: window.name :>>_reg_req_wdata,
  wstrb: <<: window.name :>>_reg_req_wstrb
};
assign <<: window.name :>>_reg_rsp_ready = <<: window.response :>>.ready;
assign <<: window.name :>>_reg_rsp_error = <<: window.response :>>.error;
assign <<: window.name :>>_reg_rsp_rdata = <<: window.response :>>.rdata;

<<% endfor %>>
