  <<: top :>>_cfg_reg_pkg::reg_req_t cfg_reg_req_i;
  <<: top :>>_cfg_reg_pkg::reg_rsp_t cfg_reg_rsp_o;
  logic cfg_reg_req_valid;
  logic cfg_reg_req_write;
  logic [<<: top :>>_cfg_reg_pkg::AW-1:0] cfg_reg_req_addr;
  logic [<<: top :>>_cfg_reg_pkg::DW-1:0] cfg_reg_req_wdata;
  logic [<<: top :>>_cfg_reg_pkg::DBW-1:0] cfg_reg_req_wstrb;
  logic cfg_reg_rsp_ready;
  logic cfg_reg_rsp_error;
  logic [<<: top :>>_cfg_reg_pkg::DW-1:0] cfg_reg_rsp_rdata;
  <<: top :>>_dsp_reg_pkg::reg_req_t dsp_reg_req_i;
  <<: top :>>_dsp_reg_pkg::reg_rsp_t dsp_reg_rsp_o;
  logic dsp_reg_req_valid;
  logic dsp_reg_req_write;
  logic [<<: top :>>_dsp_reg_pkg::AW-1:0] dsp_reg_req_addr;
  logic [<<: top :>>_dsp_reg_pkg::DW-1:0] dsp_reg_req_wdata;
  logic [<<: top :>>_dsp_reg_pkg::DBW-1:0] dsp_reg_req_wstrb;
  logic dsp_reg_rsp_ready;
  logic dsp_reg_rsp_error;
  logic [<<: top :>>_dsp_reg_pkg::DW-1:0] dsp_reg_rsp_rdata;