assign cfg_reg_req_i = '{
  valid: cfg_reg_req_valid, write: cfg_reg_req_write,
  addr: cfg_reg_req_addr, wdata: cfg_reg_req_wdata,
  wstrb: cfg_reg_req_wstrb
};
assign cfg_reg_rsp_ready = cfg_reg_rsp_o.ready;
assign cfg_reg_rsp_error = cfg_reg_rsp_o.error;
assign cfg_reg_rsp_rdata = cfg_reg_rsp_o.rdata;

assign dsp_reg_req_i = '{
  valid: dsp_reg_req_valid, write: dsp_reg_req_write,
  addr: dsp_reg_req_addr, wdata: dsp_reg_req_wdata,
  wstrb: dsp_reg_req_wstrb
};
assign dsp_reg_rsp_ready = dsp_reg_rsp_o.ready;
assign dsp_reg_rsp_error = dsp_reg_rsp_o.error;
assign dsp_reg_rsp_rdata = dsp_reg_rsp_o.rdata;