<<% for window in windows %>>  <<: window.request_type if window.package else default_package ~ "::" ~ window.request_type :>> <<: window.request :>>;
  <<: window.response_type if window.package else default_package ~ "::" ~ window.response_type :>> <<: window.response :>>;
<<% endfor %>>
