module soc #(
  parameter string SramInitFile = ""
) (
  // Clock and reset.
  input  logic clk_i,
  input  logic rst_ni,
  // I/O
<<: port_declarations :>>);

<<: defaults :>>
<<: tl_signals :>>
<<: xbar :>>
<<: module_instances :>>

endmodule
