CAPI=2:
name: "enea:soc:main"
description: "FlexSoC generated SoC composition"
filesets:
  files_rtl:
    depend:
<<% if host == "ibex" %>>      - lowrisc:ibex:ibex_top_tracing
      - lowrisc:prim:onehot
      - lowrisc:prim:alert
      - lowrisc:prim:ram_2p
      - lowrisc:tlul:adapter_host
      - lowrisc:tlul:adapter_sram
      - lowrisc:tlul:socket_1n
<<% endif %>><<% for module in modules %>>      - prj:ip:<<: module :>>
<<% endfor %>>    files:
      - rtl/autogen/tl_main_pkg.sv
      - rtl/autogen/xbar_main.sv
      - rtl/soc.sv
    file_type: systemVerilogSource

  files_functional:
    files:
      - dv/functional/tb/sv/include_soc_tb.sv: { is_include_file: true }
      - dv/functional/tb/sv/drivers/soc_reg_driver.svh: { is_include_file: true }
      - dv/functional/tb/sv/drivers/soc_vec_driver.svh: { is_include_file: true }
      - dv/functional/tb/sv/drivers/soc_vec_monitor.svh: { is_include_file: true }
      - dv/functional/tb/sv/soc_tb.sv
    file_type: systemVerilogSource

parameters:
  PRIM_DEFAULT_IMPL:
    datatype: str
    paramtype: vlogdefine
    description: Primitives implementation to use, e.g. "prim_pkg::ImplGeneric".

targets:
  default: &default_target
    filesets:
      - files_rtl
    toplevel: soc

  lint:
    <<: merge_key :>>
    default_tool: verilator
    tools:
      verilator:
        mode: lint-only
        verilator_options:
          - "-Wall"
          - "-Wno-fatal"

  sim:
    <<: merge_key :>>
    default_tool: verilator
    filesets_append:
      - files_functional
    toplevel: soc_tb
    tools:
      verilator:
        mode: cc
        verilator_options:
          - '--main'
          - '-LDFLAGS'
          - '-lelf'
          - '-Wno-fatal'
          - '--timing'
          - '--trace-fst'
          - '--trace-structs'
          - "-Wno-WIDTHEXPAND"
          - "-Wno-WIDTHTRUNC"
          - "-Wno-MODDUP"
          - "-Wno-UNOPTFLAT"
    parameters:
      - PRIM_DEFAULT_IMPL=prim_pkg::ImplGeneric
