module soc #(
  parameter string SramInitFile = ""
) (
  // Clock and reset.
  input  logic clk_i,
  input  logic rst_ni<<% if port_declarations %>>,
  // I/O
<<: port_declarations :>><<% endif %>>
);

<<: defaults :>>
<<: tl_signals :>>
<<: xbar :>>
<<: module_instances :>>

endmodule
