extern volatile unsigned int __flexsoc_test_status;

int main(void) {
  __flexsoc_test_status = <<: pass_magic :>>;
  __asm__ volatile ("fence rw, rw" ::: "memory");
  for (;;) {
    __asm__ volatile ("wfi");
  }
}
