
#include <stdint.h>

#define <<: upper :>>_BASE <<: base_address :>>

typedef uintptr_t <<: module_name :>>_t;
int <<: module_name :>>_init(<<: module_name :>>_t base);
int <<: module_name :>>_in(<<: module_name :>>_t base);
void <<: module_name :>>_out(<<: module_name :>>_t base, char c);
int <<: module_name :>>_putchar(int c);
int <<: module_name :>>_puts(const char* str);
