<<% for window in windows %>>  <<: window.request_decl :>>;
  <<: window.response_decl :>>;
  logic [<<: window.package :>>::AW-1:0] <<: window.name :>>_axi_aw_addr_i;
  logic [2:0] <<: window.name :>>_axi_aw_prot_i;
  logic <<: window.name :>>_axi_aw_valid_i;
  logic <<: window.name :>>_axi_aw_ready_o;
  logic [<<: window.package :>>::DW-1:0] <<: window.name :>>_axi_w_data_i;
  logic [<<: window.package :>>::DBW-1:0] <<: window.name :>>_axi_w_strb_i;
  logic <<: window.name :>>_axi_w_valid_i;
  logic <<: window.name :>>_axi_w_ready_o;
  logic [1:0] <<: window.name :>>_axi_b_resp_o;
  logic <<: window.name :>>_axi_b_valid_o;
  logic <<: window.name :>>_axi_b_ready_i;
  logic [<<: window.package :>>::AW-1:0] <<: window.name :>>_axi_ar_addr_i;
  logic [2:0] <<: window.name :>>_axi_ar_prot_i;
  logic <<: window.name :>>_axi_ar_valid_i;
  logic <<: window.name :>>_axi_ar_ready_o;
  logic [<<: window.package :>>::DW-1:0] <<: window.name :>>_axi_r_data_o;
  logic [1:0] <<: window.name :>>_axi_r_resp_o;
  logic <<: window.name :>>_axi_r_valid_o;
  logic <<: window.name :>>_axi_r_ready_i;
<<% endfor %>>
