<<% for window in windows %>>  <<: top :>>_<<: window :>>_reg_pkg::axi_lite_req_t <<: window :>>_axi_lite_i;
  <<: top :>>_<<: window :>>_reg_pkg::axi_lite_rsp_t <<: window :>>_axi_lite_o;
  logic [<<: top :>>_<<: window :>>_reg_pkg::AW-1:0] <<: window :>>_axi_aw_addr_i;
  logic [2:0] <<: window :>>_axi_aw_prot_i;
  logic <<: window :>>_axi_aw_valid_i;
  logic <<: window :>>_axi_aw_ready_o;
  logic [<<: top :>>_<<: window :>>_reg_pkg::DW-1:0] <<: window :>>_axi_w_data_i;
  logic [<<: top :>>_<<: window :>>_reg_pkg::DBW-1:0] <<: window :>>_axi_w_strb_i;
  logic <<: window :>>_axi_w_valid_i;
  logic <<: window :>>_axi_w_ready_o;
  logic [1:0] <<: window :>>_axi_b_resp_o;
  logic <<: window :>>_axi_b_valid_o;
  logic <<: window :>>_axi_b_ready_i;
  logic [<<: top :>>_<<: window :>>_reg_pkg::AW-1:0] <<: window :>>_axi_ar_addr_i;
  logic [2:0] <<: window :>>_axi_ar_prot_i;
  logic <<: window :>>_axi_ar_valid_i;
  logic <<: window :>>_axi_ar_ready_o;
  logic [<<: top :>>_<<: window :>>_reg_pkg::DW-1:0] <<: window :>>_axi_r_data_o;
  logic [1:0] <<: window :>>_axi_r_resp_o;
  logic <<: window :>>_axi_r_valid_o;
  logic <<: window :>>_axi_r_ready_i;
<<% endfor %>>