<<% for window in windows %>>  <<: top :>>_<<: window :>>_reg_pkg::axi_lite_req_t <<: window :>>_axi_lite_i;
  <<: top :>>_<<: window :>>_reg_pkg::axi_lite_rsp_t <<: window :>>_axi_lite_o;
<<% endfor %>>