  <<: top :>>_cfg_reg_pkg::axi_lite_req_t cfg_axi_lite_i;
  <<: top :>>_cfg_reg_pkg::axi_lite_rsp_t cfg_axi_lite_o;
  <<: top :>>_dsp_reg_pkg::axi_lite_req_t dsp_axi_lite_i;
  <<: top :>>_dsp_reg_pkg::axi_lite_rsp_t dsp_axi_lite_o;