  logic [108:0] cfg_tl_i;
  logic [65:0]  cfg_tl_o;
  logic [108:0] dsp_tl_i;
  logic [65:0]  dsp_tl_o;
logic        cfg_a_valid;
logic [2:0]  cfg_a_opcode;
logic [2:0]  cfg_a_param;
logic [1:0]  cfg_a_size;
logic [7:0]  cfg_a_source;
logic [31:0] cfg_a_address;
logic [3:0]  cfg_a_mask;
logic [31:0] cfg_a_data;
logic        cfg_d_ready;
logic        cfg_a_ready;
logic        cfg_d_valid;
logic [31:0] cfg_d_data;
logic        cfg_d_error;
logic        dsp_a_valid;
logic [2:0]  dsp_a_opcode;
logic [2:0]  dsp_a_param;
logic [1:0]  dsp_a_size;
logic [7:0]  dsp_a_source;
logic [31:0] dsp_a_address;
logic [3:0]  dsp_a_mask;
logic [31:0] dsp_a_data;
logic        dsp_d_ready;
logic        dsp_a_ready;
logic        dsp_d_valid;
logic [31:0] dsp_d_data;
logic        dsp_d_error;