<<% for window in windows %>>  logic [108:0] <<: window :>>_tl_i;
  logic [65:0]  <<: window :>>_tl_o;
  logic        <<: window :>>_a_valid;
  logic [2:0]  <<: window :>>_a_opcode;
  logic [2:0]  <<: window :>>_a_param;
  logic [1:0]  <<: window :>>_a_size;
  logic [7:0]  <<: window :>>_a_source;
  logic [31:0] <<: window :>>_a_address;
  logic [3:0]  <<: window :>>_a_mask;
  logic [31:0] <<: window :>>_a_data;
  logic        <<: window :>>_d_ready;
  logic        <<: window :>>_a_ready;
  logic        <<: window :>>_d_valid;
  logic [31:0] <<: window :>>_d_data;
  logic        <<: window :>>_d_error;
<<% endfor %>>